/**
 * Reset
 * ------------------------------
 */
.sbook {
    -webkit-font-smoothing: subpixel-antialiased;
}
.sbook h1, .sbook h2, .sbook h3,
.sbook h4, .sbook h5, .sbook h6, .sbook p,
.sbook td, .sbook dl, .sbook tr, .sbook dt,
.sbook ol, .sbook form, .sbook select,
.sbook option, .sbook pre, .sbook div,
.sbook table, .sbook th, .sbook tbody,
.sbook tfoot, .sbook caption, .sbook thead,
.sbook ul, .sbook li, .sbook address,
.sbook blockquote, .sbook dd, .sbook fieldset,
.sbook li, .sbook iframe, .sbook strong,
.sbook legend, .sbook em, .sbook s,
.sbook cite, .sbook span, .sbook input,
.sbook sup, .sbook label, .sbook dfn,
.sbook object, .sbook big, .sbook q,
.sbook font, .sbook samp, .sbook acronym,
.sbook small, .sbook img, .sbook strike,
.sbook code, .sbook sub, .sbook ins,
.sbook textarea, .sbook var, .sbook a,
.sbook abbr, .sbook applet, .sbook del,
.sbook kbd, .sbook tt, .sbook b,
.sbook hr, .sbook article, .sbook aside,
.sbook dialog, .sbook figure, .sbook footer,
.sbook header, .sbook hgroup, .sbook menu,
.sbook nav, .sbook section, .sbook time,
.sbook mark, .sbook audio, .sbook video, 
.sbook input[type=submit], .sbook button {
    background-attachment: scroll;
    background-color: transparent;
    background-image: none;
    background-position: 0 0;
    background-repeat: repeat;
    border-color: black;
    border-style: none;
    border-width: medium;
    clear: none;
    clip: auto;
    color: inherit;
    counter-increment: none;
    counter-reset: none;
    direction: inherit;
    display: inline;
    float: none;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-variant: normal;
    font-weight: inherit;
    height: auto;
    letter-spacing: normal;
    line-height: inherit;
    list-style-type: inherit;
    list-style-position: inside;
    list-style-image: none;
    margin: 0;
    max-height: none;
    max-width: none;
    outline: none;
    overflow: visible;
    padding: 0;
    position: static;
    quotes: "" "";
    table-layout: auto;
    text-align: inherit;
    text-decoration: inherit;
    text-transform: none;
    unicode-bidi: normal;
    vertical-align: baseline;
    visibility: visible;
    white-space: normal;
    width: auto;
    word-spacing: normal;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    opacity: 1;
    z-index: auto;
}
.sbook,
.sbook th, .sbook table,
.sbook h3, .sbook h5, .sbook p, .sbook h1,
.sbook td, .sbook dl, .sbook tr, .sbook dt,
.sbook h6, .sbook ol, .sbook form,
.sbook select, .sbook option, .sbook pre,
.sbook div, .sbook tbody, .sbook h2,
.sbook tfoot, .sbook caption, .sbook thead,
.sbook h4, .sbook ul, .sbook address,
.sbook blockquote, .sbook dd, .sbook fieldset,
.sbook textarea, .sbook hr, .sbook article,
.sbook aside, .sbook dialog, .sbook figure,
.sbook footer, .sbook header, .sbook hgroup,
.sbook menu, .sbook nav, .sbook section {
    display: block;
}
.sbook nav ul, .sbook nav ol {
    list-style-type: none;
}
.sbook li {
    display: list-item;
    min-height: auto;
    min-width: auto;
}
.sbook a, .sbook a *, .sbook input[type=submit],
.sbook button, .sbook input[type=radio], .sbook input[type=checkbox],
.sbook select {
    cursor: pointer;
}
.sbook input[type=hidden] {
    display: none;
}
.sbook input, .sbook select {
    vertical-align: middle;
}
.sbook select, .sbook textarea, .sbook input {
    border: 1px solid #ccc;
}
.sbook table {
    border-collapse: collapse;
    border-spacing: 0;
}
.sbook hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
}
.sbook *[dir=rtl] {
    direction: rtl;
}
.sbook mark {
    background-color: #ff9;
    color: black;
    font-style: italic;
    font-weight: bold;
}
.sbook button:disabled {
    cursor: inherit;
}
.sbook input[type="text"],
.sbook input[type="email"],
.sbook input[type="password"],
.sbook input[type="url"],
.sbook input[type="number"],
.sbook input[type="file"],
.sbook textarea {
    border: none;
    background-color: #fff;
    border-color: transparent;
    border-width: 0;
    border-style: none;
    border-collapse: collapse;
    border-spacing: 0;
    box-sizing: border-box;
    outline: none;
    resize: none;
    text-shadow: none;
    text-transform: none;
    height: inherit;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: border .2s, background-color .3s;
    -moz-transition: border .2s, background-color .3s;
    -o-transition: border .2s, background-color .3s;
    transition: border .2s, background-color .3s;
    -webkit-font-smoothing: antialiased;
}
.sbook input::-webkit-input-placeholder,
.sbook isindex::-webkit-input-placeholder,
.sbook textarea::-webkit-input-placeholder {
    color: #ccc;
}